
.user-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movies-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.user-fav-movies {
  padding: 20px;
  background: white;
  display: flex;
}

@media (min-width: 600px) {
  .user-fav-movies {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}